body {
    /*padding: 50px;*/
    font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
    color: #00B7FF;
}

#container {
    height: 800px;
    /* min-width: 310px; */
    /* max-width: 800px; */
}

#map {
    width: 75%;
    float: left;
    height: 800px;
    margin-left: 1.5%;
}

#list {
    width: 20%;
    float: left;
    height: 800px;
    margin-left: 1.5%;
}

#search-button {
    margin-top: 5%;
}

.nav-input {
    /* margin: 8px auto; */
    padding-right: 10px;
}

#search-form {
    float: right;
}

/* .keyword {
    padding-right: 120px;
} */

/*.dropdown-menu {
    width: 300px !important;
    height: 400px !important;
}*/